.container {
  background: #221f27;
  color: #fff;
  font-family:
    "SF Pro Text",
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 700;
  height: 100dvh;
  display: grid;
  grid-template: 1fr / 39px 1fr;
}

.aside {
}

.main {
}
