# dependencies
/node_modules

# test coverage
/coverage

# build output
/build
/dist
/release
*.dmg
*.app
*.exe
*.snap

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS-specific
.DS_Store

# TypeScript
*.tsbuildinfo

# environment variables
.env*
