/* stylelint-disable plugin/no-unused-selectors */
.container {
  align-items: center;
  background: #101218;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  font-family:
    "SF Pro Text",
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 700;
  height: 100dvh;
  -ms-overflow-style: none;
  overflow-x: auto;
  scrollbar-width: none;
  white-space: nowrap;
}

.container::-webkit-scrollbar {
  display: none; /* WebKit */
}

.startButton {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  user-select: none;
  width: 39px;
}

.startButtonInner {
  height: 21px;
  position: relative;
  width: 21px;
}

.image {
  inset: 0;
  position: absolute;
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
  transition: none;
}

.appItem {
  align-items: center;
  display: flex;
  gap: 4px;
  height: 100%;
  max-width: 180px;
  min-width: 180px;
  padding: 0 10px 0 4px;
  transition:
    background 0.2s,
    opacity 0.2s;
  width: fit-content;
  will-change: background, opacity;
}

.appItem:hover {
  background: #1f2128;
}

.appIcon {
  height: 16px;
  object-fit: contain;
  width: 16px;
}

.appName {
  font-size: 12px;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  background: #1f2128;
  transition: none; /* アクティブ状態のトランジションを無効化 */
  position: relative;
}

.active::before {
  content: "";
  display: block;
  border-bottom: 2px solid #3f4454;
  position: absolute;
  inset: 0;
}

.minimized {
  opacity: 0.5;
  transition: none;
}

/* チラつき防止のためにアクティブでないホバー状態を調整 */
.appItem:not(.active):hover {
  background: #1f2128;
  transition: background 0.3s ease;
}
